# Python Pandas - DataFrame

A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

Features of DataFrame:
    Potentially columns are of different types
    Size – Mutable
    Labeled axes (rows and columns)
    Can Perform Arithmetic operations on rows and columns

Constructor--- pandas.DataFrame( data, index, columns, dtype, copy)

# Create DataFrame
A pandas DataFrame can be created using various inputs like −

    Lists
    dict
    Series
    Numpy ndarrays
    Another DataFrame

In [2]:
#Create an Empty DataFrame
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
#Create a DataFrame from Lists
a=[10,20,30,40,50]
df=pd.DataFrame(a)
print(df)

    0
0  10
1  20
2  30
3  40
4  50

In [4]:
data=[['Hardik',80],['Disha',93],['Arun',50],['Ram',60]]
df=pd.DataFrame(data,columns=['Name','Marks'])
print(df)

     Name  Marks
0  Hardik     80
1   Disha     93
2    Arun     50
3     Ram     60

# Create a DataFrame from Dict of ndarrays / Lists
All the ndarrays must be of same length. If index is passed, then the length of the index should equal to the length of the arrays.

If no index is passed, then by default, index will be range(n), where n is the array length.

In [5]:
data={'Name':['Ram','Sam','Bob'],'Marks':[60,50,70]}
df=pd.DataFrame(data)
print(df)

  Name  Marks
0  Ram     60
1  Sam     50
2  Bob     70

In [6]:
df=pd.DataFrame(data,index=['isy/08','swe/05','cse/10'])
print(df)

       Name  Marks
isy/08  Ram     60
swe/05  Sam     50
cse/10  Bob     70

# Create a DataFrame from List of Dicts
List of Dictionaries can be passed as input data to create a DataFrame. 
The dictionary keys are by default taken as column names.

In [9]:
data=[{'a':1,'b':2,'c':3},{'a':20,'b':60,'c':80,'d':100}]
df=pd.DataFrame(data,index=['Grade','Marks'])
print(df)

        a   b   c      d
Grade   1   2   3    NaN
Marks  20  60  80  100.0

In [11]:
data=[{'a':1,'b':2,'c':3},{'a':20,'b':60,'c':80,'d':100}]
df=pd.DataFrame(data,index=['Grade','Marks'],columns=['d','c','b','a'])
print(df)

           d   c   b   a
Grade    NaN   3   2   1
Marks  100.0  80  60  20

# Create a DataFrame from Dict of Series
Dictionary of Series can be passed to form a DataFrame. The resultant index is the union of all the series indexes passed.

In [12]:
s1=pd.Series([1,2,3],index=['a','b','c'])
s2=pd.Series([10,20,30,40],index=['a','b','c','d'])

d={'one':s1,'two':s2}

df=pd.DataFrame(d)
print(d)

{'one': a    1
b    2
c    3
dtype: int64, 'two': a    10
b    20
c    30
d    40
dtype: int64}

In [14]:
print("--------------------------------------")

--------------------------------------

# Column Selection

In [15]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [17]:
print(df['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [18]:
#Column Addition
df['three']=df['one']+df['two']
print(df)

   one  two  three
a  1.0    1    2.0
b  2.0    2    4.0
c  3.0    3    6.0
d  NaN    4    NaN

In [19]:
del df['two']
print(df)

   one  three
a  1.0    2.0
b  2.0    4.0
c  3.0    6.0
d  NaN    NaN

In [20]:
df.pop('one')
print(df)

   three
a    2.0
b    4.0
c    6.0
d    NaN

In [21]:
#Row Selection, Addition, and Deletion

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d) 
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [22]:
print(df.loc['b'])

one    2.0
two    2.0
Name: b, dtype: float64

In [23]:
print(df.iloc[2])

one    3.0
two    3.0
Name: c, dtype: float64

In [26]:
print(df[1:3])

   one  two
b  2.0    2
c  3.0    3

In [28]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df=df.append(df2)
print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [29]:
#Deletion of Rows

df=df.drop(1)
print(df)

   a  b
0  1  2
0  5  6